[Desktop Entry]
Encoding=UTF-8
Name=peony
Comment=peony P2P Cryptocurrency
Exec=peony-qt %u
Terminal=false
Type=Application
Icon=peony128
MimeType=x-scheme-handler/peony;
Categories=Office;Finance;
Name[it]=peony-qt.desktop
