[Unit]
Description=peony's distributed currency daemon
After=network.target

[Service]
User=peony
Group=peony

Type=forking
PIDFile=/var/lib/peonyd/peonyd.pid

ExecStart=/usr/bin/peonyd -daemon -pid=/var/lib/peonyd/peonyd.pid \
          -conf=/etc/peony/peony.conf -datadir=/var/lib/peonyd

ExecStop=-/usr/bin/peony-cli -conf=/etc/peony/peony.conf \
         -datadir=/var/lib/peonyd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
